.yellow-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--white-text);
    font-size: 5rem;
    font-weight: 600;
    border: 1rem solid var(--cr-yellow);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.yellow-unfilled-button:hover {
    color: var(--black-text);
    background-color: var(--cr-yellow);
    text-shadow: var(--white-text) 0px 0px 4px;
}

.purple-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-unfilled-button:hover {
    color: var(--white-text);
    background-color: var(--cr-purple);
    text-shadow: var(--white-text) 0px 0px 3px;
}

.purple-filled-button {
    transition: all 0.1s ease-in;
    width: fit-content;
    color: var(--white-text);
    background-color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-filled-button:hover {
    color: var(--white-text);
    background-color: var(--cr-light-purple);
    border-color: var(--cr-light-purple);
    text-shadow: var(--white-text) 0px 0px 3px;
}

.highlighted-text {
    color: var(--cr-yellow) !important;
}

.thick-line {
    height: 1rem;
    background-color: var(--soft-black-text);
}

.default-button-width {
    display: flex;
    justify-content: center;
    width: 42.5rem !important;
    min-width: fit-content;
}

.small-icon {
    width: 6rem;
    aspect-ratio: 1 / 1;
}