@font-face {
    font-family: 'Humaroid';
    src: url('../assets/fonts/Humaroid.woff2') format('woff2'),
        url('../assets/fonts/Humaroid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes cr-transparent-logo-80rem-floating {
    0% {
        transform: rotate(4deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    100% {
        transform: rotate(4deg);
    }
}

@keyframes cr-transparent-logo-60rem-floating {
    0% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

@keyframes cr-transparent-logo-40rem-floating {
    0% {
        transform: rotate(4deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    100% {
        transform: rotate(4deg);
    }
}

@keyframes cr-transparent-logo-20rem-floating {
    0% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 4px;
}

:root {
    --white-text: #f5f5f5;
    --black-text: #202020;
    --soft-black-text: #3a3a3a;
    --light-black-text: #858585;
    --cr-yellow: #FFC450;
    --cr-purple: #34024B;
    --cr-light-purple: #9f64bb;
    --cr-ultra-light-purple: #d6ccdb;
    --transparent: #0000;
    --crescendo-theme: #01D485;
}

/* Calibrations */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Misc. */

.highlighted-text {
    color: var(--cr-yellow) !important;
}

.thick-line {
    height: 1rem;
    background-color: var(--soft-black-text);
}

.default-button-width {
    display: flex;
    justify-content: center;
    width: 42.5rem !important;
}

.small-icon {
    width: 6rem;
    aspect-ratio: 1 / 1;
}

/* Components */

.yellow-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--cr-yellow);
    font-size: 5rem;
    border: 1rem solid var(--cr-yellow);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.yellow-unfilled-button:hover {
    color: var(--black-text);
    background-color: var(--cr-yellow);
    text-shadow: var(--white-text) 0px 0px 4px;
}

.purple-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-unfilled-button:hover {
    color: var(--white-text);
    background-color: var(--cr-purple);
    text-shadow: var(--white-text) 0px 0px 3px;
}

.purple-filled-button {
    transition: all 0.1s ease-in;
    width: fit-content;
    color: var(--white-text);
    background-color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-filled-button:hover {
    color: var(--white-text);
    background-color: var(--cr-light-purple);
    border-color: var(--cr-light-purple);
    text-shadow: var(--white-text) 0px 0px 3px;
}

/* Header   */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cr-purple);
    padding: 0 8rem;
}

.cr-info-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 30rem;
    aspect-ratio: 1 / 1;
}

.team-name-wrapper {
    display: flex;
    flex-direction: column;
}

.cr-team-number {
    color: var(--white-text);
    font-family: "Humaroid";
    font-size: 8rem;
    font-weight: normal;
    font-style: normal;
}

.cr-team-name {
    color: var(--white-text);
    font-family: "Humaroid";
    font-size: 8rem;
    font-weight: normal;
    font-style: normal;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.menu-pages-wrapper {
    display: flex;
    gap: 5rem;
}

.menu-page {
    position: relative;
    color: var(--white-text);
    font-size: 5rem;
}

.menu-page::after {
    transition-property: width;
    transition: width 0.2s ease-out;
    position: absolute;
    display: block;
    width: 0px;
    height: 1rem;
    background-color: #f5f5f5;
    color: var(--transparent);
    content: "🌝";
}

.menu-page:hover::after {
    display: block;
    width: 100%;
}

@media (max-width: 1150px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-wrapper {
        display: none;
    }
}

/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cr-purple);
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 17.5rem;
    padding: 12rem;
}

.slogan {
    font-family: "Humaroid";
    font-size: 8rem;
    font-weight: normal;
    font-style: normal;
    color: var(--white-text);
    line-height: 7rem;
}

.slogan-wrapper {
    margin-bottom: 4rem;
}

.copyright {
    font-size: 4rem;
    font-weight: 900;
    color: var(--cr-yellow);
}

.footer-section-contact-us {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-section-location {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-section-promotional {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-section-social-media-list {
    display: flex;
    gap: 1.5rem;
}

.footer-section-title {
    transition: all 0.2s ease;
    position: relative;
    font-size: 5rem;
    color: var(--cr-yellow);
    font-weight: 600;
    width: fit-content;
}

.footer-section-items-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-section-item {
    font-size: 5rem;
    color: var(--cr-ultra-light-purple);
    font-weight: 600;
    line-height: 4.5rem;
}

.footer-section-item:hover {
    text-decoration: underline;
}

.footer-section-newsletter-text {
    position: relative;
    font-size: 5rem;
    color: var(--white-text);
    font-weight: 600;
}

.footer-section-newsletter-text::after {
    content: "➡";
    color: var(--cr-yellow);
    width: 4rem;
    aspect-ratio: 1 / 1;
    margin: 0 0 0 2rem;
}

.footer-section-newsletter-text::before {
    position: relative;
    top: 5.5rem;
    transition-property: width;
    transition: width 0.2s ease-out;
    position: absolute;
    display: block;
    width: 0px;
    height: 1rem;
    background-color: var(--cr-ultra-light-purple);
    color: var(--transparent);
    content: "🌝";
}

.footer-section-newsletter-text:hover {
    color: var(--cr-ultra-light-purple);
}

.footer-section-newsletter-text:hover::before {
    display: block;
    width: 90%;
}

/* Carrousel */

.cr-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 10 / 3;
    background: url("./../assets/cr-team.png");
    background-size: cover;
}

.cr-carrousel-texts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cr-carrousel-big-text {
    color: var(--white-text);
    font-size: 16rem;
    font-weight: 600;
}

.cr-carrousel-text {
    color: var(--white-text);
    font-size: 8rem;
    font-weight: 600;
}

@media (max-width: 1150px) {
    .cr-carrousel-big-text {
        font-size: 7rem;
    }
    .cr-carrousel-text {
        font-size: 3rem;
    }
}

/* About FRC */

.first-about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    padding: 20rem 0;
}

.first-about-text {
    width: 105rem;
    color: var(--black-text);
    font-size: 5rem;
    font-weight: 600;
    text-align: justify;
    max-width: 105rem;
    width: 85vw;
}

.first-about-section-logo {
    width: 85vw;
    max-width: 100rem;
}

@media (max-width: 1150px) {
    .first-about-section {
        flex-direction: column;
        gap: 10rem;
    }
}

/* About Crescendo */

.crescendo-about-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("./../assets/crescendo-wp.jpg");
    background-size: contain;
    width: 100%;
    aspect-ratio: 8/4.5;
    padding: 0 0 15rem;
}

.crescendo-about-text {
    margin-top: 4rem;
    width: 110rem;
    color: var(--white-text);
    font-size: 4rem;
    font-weight: 600;
}

.crescendo-about-texts-wrapper {
    display: flex;
    gap: 25rem;
}

.creascendo-meaning-wrapper {
    display: flex;
    flex-direction: column;
    width: 150rem;
}

.crescendo-meaning {
    color: var(--crescendo-theme);
    font-weight: bold;
    font-size: 6rem;
    line-height: 9rem;
}

.creascendo-meaning-context {
    color: var(--white-text);
    font-size: 7rem;
    font-weight: bolder;
}

.crescendo-meaning-source-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.crescendo-meaning-source {
    color: var(--white-text);
    font-size: 3.5rem;
    color: var(--light-black-text);
}

@media (max-width: 1150px) {
    .crescendo-about-texts-wrapper {
        display: none;
    }
}

/* About CyberRain */

.cr-about-section {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 175rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cr-about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 0 0 140rem;
    max-width: 140rem;
    width: 85vw;
}

.cr-identity-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cr-identity-name {
    font-size: 8rem;
    color: var(--cr-purple);
    font-weight: bold;
}

.cr-identity-number {
    font-size: 8rem;
    color: var(--cr-purple);
    font-weight: bold;
}

.cr-identity-number::before {
    font-size: 6rem;
    color: var(--light-black-text);
    font-weight: 600;
    content: "#";
}

.cr-about-text {
    color: var(--soft-black-text);
    font-size: 5rem;
    width: 100%;
    font-weight: 600;
    text-align: justify;
}

.cr-about-wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cr-about-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
}

.cr-about-decoration-blob {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 140rem;
}

.cr-about-blob {
    width: 100rem;
}

.cr-about-blob-complement {
    display: block;
    height: 175rem;
    width: 100%;
    background-color: var(--cr-ultra-light-purple);
}

.cr-black-transparent-logo {
    position: absolute;
    right: 18rem;
    display: block;
}

.cr-black-transparent-logo-80rem {
    animation: 7s none 0s infinite cr-transparent-logo-80rem-floating;
    width: 80rem;
    height: 85rem;
    transform: rotate(4deg);
}

.cr-black-transparent-logo-60rem {
    animation: 10s none 0s infinite cr-transparent-logo-60rem-floating;
    width: 60rem;
    height: 65rem;
    transform: rotate(-4deg);
}

.cr-black-transparent-logo-40rem {
    animation: 10s none 0s infinite cr-transparent-logo-40rem-floating;
    width: 40rem;
    height: 45rem;
    transform: rotate(4deg);
}

.cr-black-transparent-logo-20rem {
    animation: 10s none 0s infinite cr-transparent-logo-20rem-floating;
    width: 20rem;
    height: 25rem;
    transform: rotate(-4deg);
}

@media (max-width: 1150px) {
    .cr-about-decoration-blob {
        display: none;
    }

    .cr-about-wrapper {
        margin: 0;
    }

    .cr-about-section {
        height: 115rem;
    }

    .cr-about-buttons-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}