* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 4px;
}

:root {
    --white-text: #f5f5f5;
    --black-text: #202020;
    --light-black-text: #858585;
    --cr-yellow: #FFC450;
    --cr-purple: #34024B;
    --cr-light-purple: #56007e;
    --transparent: #0000;
    --crescendo-theme: #01D485;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Misc */

.highlighted-text {
    color: var(--cr-yellow) !important;
}

/* Components */

.yellow-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--cr-yellow);
    font-size: 5rem;
    border: 1rem solid var(--cr-yellow);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.yellow-unfilled-button:hover {
    color: var(--black-text);
    background-color: var(--cr-yellow);
}

.purple-unfilled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-unfilled-button:hover {
    color: var(--white-text);
    background-color: var(--cr-purple);
}

.purple-filled-button {
    transition: color 0.15s ease-in;
    width: fit-content;
    color: var(--white-text);
    background-color: var(--cr-purple);
    font-weight: 600;
    font-size: 5rem;
    border: 1rem solid var(--cr-purple);
    border-radius: 2rem;
    padding: 1rem 5rem;
}

.purple-filled-button:hover {
    transition: color 0.15s ease-in;
    color: var(--white-text);
    background-color: var(--cr-light-purple);
    border-color: var(--cr-light-purple);
    text-shadow: var(--white-text) 0px 0px 4px;
}

/* Header   */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cr-purple);
    padding: 0 8rem;
}

.cr-info-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 30rem;
    aspect-ratio: 1 / 1;
}

.team-name-wrapper {
    display: flex;
    flex-direction: column;
}

.cr-team-number {
    color: var(--white-text);
    font-size: 8rem;
    font-weight: bold;
}

.cr-team-name {
    color: var(--white-text);
    font-size: 8rem;
    font-weight: bold;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.menu-pages-wrapper {
    display: flex;
    gap: 5rem;
}

.menu-page {
    position: relative;
    color: var(--white-text);
    font-size: 5rem;
}

.menu-page::after {
    transition-property: width;
    transition: width 0.2s ease-out;
    position: absolute;
    display: block;
    width: 0px;
    height: 1rem;
    background-color: #f5f5f5;
    color: var(--transparent);
    content: "🌝";
}

.menu-page:hover::after {
    display: block;
    width: 100%;
}

/* Footer */

.footer {
    display: flex;
    background-color: var(--cr-purple);
    width: 100%;
    height: 100rem;
}

/* Carrousel */

.cr-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 10 / 3;
    background: url("./../assets/cr-team.png");
    background-size: cover;
}

.cr-carrousel-texts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cr-carrousel-big-text {
    color: var(--white-text);
    font-size: 25rem;
    font-weight: 600;
}

.cr-carrousel-text {
    color: var(--white-text);
    font-size: 12rem;
    font-weight: 600;
}

/* About FRC */

.first-about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    padding: 20rem 0;
}

.first-about-text {
    width: 105rem;
    color: var(--black-text);
    font-size: 5rem;
}

/* About Crescendo */

.crescendo-about-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("./../assets/crescendo-wp.jpg");
    background-size: contain;
    width: 100%;
    height: 265rem;
    padding: 0 0 15rem;
}

.crescendo-about-text {
    width: 110rem;
    color: var(--white-text);
    font-size: 6rem;
}

.crescendo-about-texts-wrapper {
    display: flex;
    gap: 25rem;
}

.creascendo-meaning-wrapper {
    display: flex;
    flex-direction: column;
    width: 150rem;
}

.crescendo-meaning {
    color: var(--crescendo-theme);
    font-weight: bold;
    font-size: 10rem;
    line-height: 9rem;
}

.creascendo-meaning-context {
    color: var(--white-text);
    font-size: 7rem;
    font-weight: bolder;
}

.crescendo-meaning-source-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.crescendo-meaning-source {
    color: var(--white-text);
    font-size: 3.5rem;
    color: var(--light-black-text);
}

/* About CyberRain */

.cr-about-section {
    width: 100%;
}

.cr-about-section {
    padding: 17rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr-about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cr-identity-wrapper {
    width: 105rem;
    display: flex;
    justify-content: space-between;
}

.cr-identity-name {
    font-size: 8rem;
    color: var(--black-text);
    font-weight: bold;
}

.cr-identity-number {
    font-size: 8rem;
    color: var(--black-text);
    font-weight: bold;
}

.cr-identity-number::before {
    font-size: 6rem;
    color: var(--light-black-text);
    font-weight: 500;
    content: "#";
}

.cr-about-text {
    color: var(--black-text);
    font-size: 5rem;
    width: 105rem;
}

.cr-about-buttons-wrapper {
    display: flex;
    gap: 4.5rem;
}
