:root {
    --white-text: #f5f5f5;
    --black-text: #202020;
    --soft-black-text: #3a3a3a;
    --light-black-text: #858585;
    --cr-yellow: #FFC450;
    --soft-red: #ff6a6a;
    --cr-purple: #34024B;
    --cr-light-purple: #b986d1;
    --cr-ultra-light-purple: #d6ccdb;
    --cr-x-ultra-purple: #9f64bb;
    --transparent: #0000;
    --crescendo-theme: #01D485;
    --backdrop: #000000CC;
}

h1,
h4,
h5 {
    text-decoration: bold;
    font-family: Outfit;
    color: var(--cr-ultra-light-purple);
    text-align: center;
    font-size: 54px;
}

.title {
    color: var(--cr-light-purple);
    text-decoration: underline;
}

h4 {
    font-size: 38px;
    color: var(--cr-x-ultra-purple);
}

h5 {
    font-size: 24px;
    text-align: center;
    color: var(--cr-light-purple);
}

.links {
    position: relative;
    color: var(--cr-ultra-light-purple);
    text-align: center;
    font-size: 6rem;
}

.links::before {
    transition: color .2s ease;
    position: absolute;
    content: "🌝";
    color: var(--transparent);
    height: .75rem;
    background-color: var(--cr-ultra-light-purple);
    bottom: 0;
    width: 100%;
}

.links:hover::before {
    background-color: var(--cr-light-purple);
}

body {
    background-color: var(--black-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.highlighted-text {
    color: var(--cr-yellow) !important;
}

.team-name {
    font-size: 13rem;
}

.team-number {
    font-size: 13rem;
}

.team-number::before {
    content: "#";
    color: var(--light-black-text);
    font-size: 10rem;
}

.center {
    display: block;
    text-align: center;
}

.back-to-start {
    font-size: 6rem;
    transition: color .15s ease;
    border: 1rem solid var(--cr-light-purple);
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-weight: 600;
    color: var(--cr-ultra-light-purple);
    cursor: pointer;
    margin: 4rem 0 0 0;
}

.back-to-start:hover {
    background-color: var(--cr-light-purple);
    color: var(--cr-purple);
    border-color: var(--cr-light-purple);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    font-size: 5rem;
    list-style: circle;
    font-weight: 600;
    color: #FFC450;
}

hr {
    height: 1rem;
    background-color: var(--cr-ultra-light-purple);
    margin: 5rem auto;
    width: 150rem;
}

#code-501 {
    font-size: 200rem;
    position: absolute;
    z-index: -10;
    font-weight: 900;
    color: #252525;
}